<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Your Burger</title>
    <link rel="stylesheet" th:href="@{/css/logoTopnavFooterstyle.css}">
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}">Header</div>
<div class="form-container">
    <form method="post" action="/login">
        <h2>Вхід</h2>
        <div>
            <label for="username">Номер телефону</label>
            <input type="text" id="username" name="username" required pattern="\+380[0-9]{9}|[0-9]{10}" placeholder="+380XXXXXXXXX">
        </div>
        <div>
            <label for="password">Пароль</label>
            <input type="text" id="password" name="password" placeholder="Пароль" required>
        </div>
        <div>
            <input type="submit" value="Увійти">
        </div>
    </form>

</div>
<div th:insert="~{fragments/footer :: footer}">Footer</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>