<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/logoTopnavFooterstyle.css}">
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
    <link rel="stylesheet" th:href="@{/css/adminForm.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <title>Your Burger</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>
<div class="form-container">
    <div>
        <p th:text="${message}"></p>
    </div>
    <h3>Додати продукт:</h3>
    <form action="" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Назва:</label>
            <input type="text" id="name" name="name" required/>
        </div>
        <div>
            <label for="descrip">Опис:</label>
            <input type="text" id="descrip" name="description" required>
        </div>
        <div>
            <label for="price">Ціна:</label>
            <input type="text" id="price" name="price" required pattern="\d*">
        </div>
        <div>
            <label for="img">Зображення:</label>
            <input type="file"  id="img" name="image">
        </div>
        <div>
            <input type="submit" value="Підтвердити" />
            <input type="reset" value="Скинути">
        </div>
    </form>
</div>

<div th:insert="~{fragments/footer :: footer}">Footer</div>
</body>
</html>