<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <title>Burgers List</title>
</head>
<body>
<div class="container">
    <div class="text-left" th:if="${not #lists.isEmpty(products)}">

        <h1>Burger List</h1>

        <div class="lead">
            <table class = "table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td th:text="${product.name}">Burger Name</td>
                    <td> <img th:src="@{${product.image}}" alt="Photo"> Burger Image</td>
                    <td th:text="${product.description}">Burger Description</td>
                    <td th:text="${product.price}">Burger price</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>