<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<div class="footer">
    <a href="https://www.instagram.com/your_burger_coffee/?hl=uk"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/pages/category/Kitchen-Cooking/Your-BurgerCoffee-198081550819879/"><i class="fab fa-facebook-square"></i></a>
    <div class="telnumber">
        <p>Стебник: +380680668277</p>
        <p>Дрогобич: +380680668278</p>
    </div>
    <div class="work-schedule">
        <p>пн-чт 11:00-22:00</p>
        <p>пт-нд 11:00-00:00</p>
    </div>
</div>
</body>
</html>