<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Burger</title>
    <link rel="stylesheet" th:href="@{/css/logoTopnavFooterstyle.css}">
    <link rel="stylesheet" th:href="@{/css/aboutUsStyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<h2 class="header-aboutus">Наш секрету успіху простий: "Найсмачніші бургери за найнижчою ціною", - Олег та Софія Лехуш</h2>
<div class="container-for-image-aboutus">
    <img src="../img/hederAboutUs.jpg" class="burger-image-aboutus" alt="hederAboutUs">
</div>
<h4 class="header-aboutus">Мережа закладів громадського харчування «Your Burger» працює у нашому регіоні відносно недавно.
    Але чимало стебничан та дрогобичан вже встигли не лише покуштувати вироби цієї бургерної,
    а й стати її постійними замовниками.</h4>
<p class="text-aboutus">Родзинкою мережі «Your Burger» є те, що тут постійно вдосконалюють меню,
    шукають цікаві поєднання смаків і продуктів. Наприклад, у «Чорному бургері»
    є м’ясо з вишневим соусом, у «Гавайському бургері» (він особливо популярний у Дрогобичі) – ананаси,
    у «Фарш-бургері» використано фарш замість котлет,
    а деякі бургери подають без булочок – це котлети в тостовому хлібі чи тартильї.</p>
<div class="container-for-image-aboutus">
    <img src="../img/burgerAboutUs.jpg" class="burger-image-aboutus" alt="burgerAboutUs">
</div>
<p class="text-aboutus">Є тут і фірмова страва – «Калійний бургер» із трьома котлетами.
    Під час його приготування використовується… стебницька сіль. Виявляється,
    у Стебнику в часи Австро-Угорської імперії теж виварювали харчову сіль.
    До речі, на стіні бургерної зображена старовинна стебницька солеварня, збудована у 1840 році.
    Кажуть, що на її відкриття приїздив сам імператор Франц-Йосиф.
    А вже згодом на цих землях знайшли і почали добувати калійну сіль для виробництва добрив.
    Харчову сіль у Стебнику припинили виготовляти десь у 60-х роках минулого століття,
    але подружжя Лехушів зуміло знайти людину, яка тим ще займається і постачає цю сіль до їхнього закладу.
    До речі, тут зараз працюють над рецептом «Дрогобицького бургеру».</p>
<div class="container-for-image-aboutus">
    <img src="../img/bildingAboutUs.jpg" class="burger-image-aboutus" alt="bildingAboutUs">
</div>
<p class="text-aboutus">Маємо ще один ексклюзив під назвою «Мегатрон», Це бургер на компанію.
    Він дуже великий, у ньому шість котлет. Загальна вага – майже півтора кілограми, діаметр – до 25 сантиметрів.
    До речі, щодо «Мегатрону» маємо цікаву акцію: якщо людина зуміє з’їсти його за 10 хвилин, то за бургер не платитиме!
    Але дотепер це вдалося зробити лише одному чоловікові.</p>
<p class="text-aboutus">Постійно працюємо над тим, щоб наші ціни були найнижчими на ринку,
    а якість при тому – найвищою. Ретельно дотримуємося рецептури класичних бургерів американського стилю.
    Маємо надійних постачальників, у яких наявні усі сертифікати якості.
    А ще – не зупиняємося на досягнутому і продовжуємо самовдосконалюватися.</p>

<div th:insert="~{fragments/footer :: footer}">Footer</div>



<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>