<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <title>Burgers List</title>
</head>
<body>
<div class="container">
    <div class="text-left" th:if="${not #lists.isEmpty(burgers)}">

        <h1>Singer List</h1>

        <div class="lead">
            <table class = "table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                <tr th:each="burger : ${burgers}">
                    <td th:text="${burger.name}">Burger Name</td>
                    <td th:text="${burger.image}">Burger Image</td>
                    <td th:text="${burger.description}">Burger Description</td>
                    <td th:text="${burger.price}">Burger price</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>