<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../public/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <title>Your Burger</title>
</head>
<body>
<h1>Додати продукт</h1>
<form action="#" th:action="@{/burgerform}" th:object="${burger}" method="post">
    <p>Назва</p>
    <input type="text" th:field="*{name}" />
    <p>Опис</p>
    <input type="text" th:field="*{description}">
    <p>Ціна</p>
    <input type="text" th:field="*{price}">
    <p>Зображення</p>
    <input type="file" th:field="*{image}">
    <input type="submit" value="Підтвердити" />
    <input type="reset" value="Скинути">
</form>
</body>
</html>