<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Burger</title>
    <link rel="stylesheet" href="../css/logoTopnavFooterstyle.css">
    <link rel="stylesheet" href="../css/burgerMenuStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <a href="index.html"><img class="grafic-logo" src="../img/ybcLogo.png" alt="Logo"></a>
    </div>
    <nav>
        <div class="topnav" id="idTopNav">
            <a class="form-page" href="index.html"><i class="fas fa-hamburger"></i> <span>ЗАМОВИТИ</span></a>
            <a href="shares.html"><i class="fas fa-gift"></i> <span>АКЦІЇ</span></a>
            <a href="findOnMap.html"><i class="fas fa-map-marked-alt"></i> <span>МИ НА КАРТІ</span></a>
            <a href="aboutUs.html"><i class="fas fa-info-circle"></i> <span>ПРО НАС</span></a>
        </div>
    </nav>
</header>
<div class="order-menu">
    <p>
        <span id="order-amount"> 0</span> x <i class="fas fa-hamburger"></i>
        <button id="clear-cart" class="order-ref-button"><i class="fas fa-times-circle"></i><span class="order-icon"> Очистити кошик</span></button>
        <button id="checkout" class="order-ref-button"> <i class="fas fa-shopping-basket order-icon"></i><span class="order-icon"> Кошик</span> </button>
        <a id="form-ref" href="form.html"class="order-ref-button"> <i class="fas fa-check-circle"></i><span class="order-icon"> Оформити замовлення</span></a>
    </p>
    <div id="cart-content"></div>
</div>
<div class="advantages-container">
    <div class="advantages column column-style">
        <div class="container">
            <div class="image-box">
                <img src="../img/burgersImages/americanboy-330x330.jpg" alt="amerecanboy" >
            </div>
            <div class="text-box">
                <h2 class="title-burger-box">American Boy</h2>
                <div class="list">
                    <ul>
                        <li>- Булочка з сезамом</li>
                        <li>- Цибуля фіолетова</li>
                        <li>- Маринований огірок</li>
                        <li>- Котлета з яловичини</li>
                        <li>- Сир чеддер</li>
                        <li>- Яйце смажене на грилі</li>
                        <li>- Секретний соус</li>
                    </ul>
                </div>
                <p class="price-text"><span class="burger-price">75</span> грн</p>

                <button class="add-item" data-id="1"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="container">
            <div class="image-box">
                <img src="../img/burgersImages/bbqburger-330x330.jpg" alt="bbqburger" >
            </div>
            <div class="text-box">
                <h2 class="title-burger-box">BBQ</h2>
                <div class="list">
                    <ul>
                        <li>- Булочка з сезамом</li>
                        <li>- Цибуля фіолетова</li>
                        <li>- Маринований огірок</li>
                        <li>- Котлета з яловичини</li>
                        <li>- Сир чеддер</li>
                        <li>- Гриби на грилі</li>
                        <li>- Барбек'ю соус</li>
                    </ul>
                </div>
                <p class="price-text"><span class="burger-price">73</span> грн</p>
                <button class="add-item" data-id="2"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="container">
            <div class="image-box">
                <img src="../img/burgersImages/mamba-330x330.jpg" alt="mambaburger" >
            </div>
            <div class="text-box">
                <h2 class="title-burger-box">Чорна мамба</h2>
                <div class="list">
                    <ul>
                        <li>- Булочка з чорнило каракатиці</li>
                        <li>- Сирний соус</li>
                        <li>- Котлета з яловичини</li>
                        <li>- Сир чеддер</li>
                        <li>- Бекон</li>
                        <li>- Вишневий соус</li>
                    </ul>
                </div>
                <p class="price-text"><span class="burger-price">74</span> грн</p>
                <button class="add-item" data-id="3"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="container">
            <div class="image-box">
                <img src="../img/burgersImages/kalijnyj-330x330.jpg" alt="kalijnyj">
            </div>
            <div class="text-box">
                <h2 class="title-burger-box">Калійний</h2>
                <div class="list">
                    <ul>
                        <li>- Булочка з сезамом</li>
                        <li>- 3-ти котлети з яловичини</li>
                        <li>- Сир моцарелла, чедер</li>
                        <li>- Помідор, огірокб цибуля</li>
                        <li>- Часниковий соус</li>
                        <li>- Стебницька сіль</li>
                    </ul>
                </div>
                <p class="price-text"><span class="burger-price">75</span> грн</p>
                <button class="add-item" data-id="4"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="container">
            <div class="image-box">
                <img src="../img/burgersImages/hawaii-330x330.jpg" alt="hawaii">
            </div>
            <div class="text-box">
                <h2 class="title-burger-box">Гавайський</h2>
                <div class="list">
                    <ul>
                        <li>- Булочка з сезамом</li>
                        <li>- Котлета з яловичини</li>
                        <li>- Ананас на грилі</li>
                        <li>- Сир чеддер</li>
                        <li>- Помідор, огірокб цибуля</li>
                        <li>- Кисло-солодкий соус</li>
                    </ul>
                </div>
                <p class="price-text"><span class="burger-price">80</span> грн</p>
                <button class="add-item" data-id="5"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="container">
            <div class="image-box">
                <img src="../img/burgersImages/doublecheese-330x330.jpg" alt="doublecheese">
            </div>
            <div class="text-box">
                <h2 class="title-burger-box">Дабл чізбургер</h2>
                <div class="list">
                    <ul>
                        <li>- Булочка з сезамом</li>
                        <li>- 2-ві котлети з яловичини</li>
                        <li>- Сир чедер, моцарелла</li>
                        <li>- Помідор, фіолетова цибуля</li>
                        <li>- Маринований огірок</li>
                        <li>- Сирний соус</li>
                    </ul>
                </div>
                <p class="price-text"><span class="burger-price">58</span> грн</p>
                <button class="add-item" data-id="6"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="container">
            <div class="image-box">
                <img src="../img/burgersImages/kordon_blue-330x330.jpg" alt="kordon_blue">
            </div>
            <div class="text-box">
                <h2 class="title-burger-box">Кордон Блю</h2>
                <div class="list">
                    <ul>
                        <li>- Булочка з сезамом</li>
                        <li>- Салат айсберг</li>
                        <li>- Котлета Кордон Блю</li>
                        <li>- Медово-гірчичний соус</li>
                    </ul>
                </div>
                <p class="price-text"><span class="burger-price">64</span> грн</p>
                <button class="add-item" data-id="7"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div class="container">
            <div class="image-box">
                <img src="../img/burgersImages/farsh-330x330.jpg" alt="farsh">
            </div>
            <div class="text-box">
                <h2 class="title-burger-box">Фарш</h2>
                <div class="list">
                    <ul>
                        <li>- Булочка з сезамом</li>
                        <li>- Тортилья</li>
                        <li>- Салат айсберг</li>
                        <li>- фарш з перцем</li>
                        <li>- Маринований огірок</li>
                        <li>- Сир чедер</li>
                        <li>- Бекон</li>
                        <li>- Соус Х</li>
                    </ul>
                </div>
                <p class="price-text"><span class="burger-price">111</span> грн</p>
                <button class="add-item" data-id="8"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="footer">
    <a href="https://www.instagram.com/your_burger_coffee/?hl=uk"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/pages/category/Kitchen-Cooking/Your-BurgerCoffee-198081550819879/"><i
            class="fab fa-facebook-square"></i></a>
    <div class="telnumber">
        <p>Стебник: +380680668277</p>
        <p>Дрогобич: +380680668278</p>
    </div>
    <div class="work-schedule">
        <p>пн-чт 11:00-22:00</p>
        <p>пт-нд 11:00-00:00</p>
    </div>
</div>


<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="../js/cartScript.js"></script>
</body>
</html>